<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-10"> 
        
        <h4 class="mb-3">Login: </h4>

        <div class="card shadow-lg rounded-3"> 
            <div class="card-body">
                <form action="/usuarios/login" method="POST">
                    
                    <div class="mb-3"> 
                        <label for="email" class="form-label">Email: </label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha: </label>
                        <input type="password" class="form-control" name="senha" required>
                    </div>

                    <button class="btn btn-success mt-4" type="submit">Entrar</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>